.footer {
	&__row,
	&__right,
	&__logo {
		display: flex;
	}
	&__row {
		justify-content: space-between;
		align-items: center;
		font-weight: 300;
		font-size: 12px;
		line-height: 18px;
		color: #828282;
		padding: 22px 0;
	}
	&__right {
		align-items: center;
		margin: 0 1px 0 0;
	}
	&__text {
		margin: -2px 24px 0 0;
	}
	&__logo {
		flex-direction: column;
		span {
			font-family: 'Adieu';
			font-style: italic;
			font-weight: 400;
			font-size: 12.6864px;
			line-height: 80%;
			color: #FFFFFF;
			&:first-child {
				margin: 0 16px 3px 0;
			}
			&:last-child {
				font-family: FreightBig;
				font-size: 15.2236px;
				text-align: right;
			}
		}
	}
}

.footer-black {
	& .footer__logo span {
		color: #080808;
	}
}

@media (max-width: 1220px) {
	.footer {
		&__text {
			margin: -3px 29px 0 0;
		}
		&__logo {
			span:first-child {
				margin: 0 18px 2px 0;
			}
		}
	}
}

@media (max-width: 575px) {
	.footer {
		&__row {
			flex-direction: column;
			align-items: flex-start;
			gap: 11px;
			padding: 22px 3px;
		}
		&__copy {
			margin: 0 0 0 -3px;
		}
		&__logo {
			span:first-child {
				margin: 0 12px 3px 0;
			}
		}
	}
}