.philosophy {
	padding: 141px 0;
	&__container {
		max-width: 1440px;
		padding: 0 0 0 62px;
	}
	&__head {
		display: flex;
		justify-content: space-between;
		position: relative;
		margin: 0 0 78px 0;
	}
	&__block-title {
		position: absolute;
		top: 99px;
		left: -14px;
		transform: rotate(-90deg);
		font-weight: 700;
		font-size: 8px;
		line-height: 14px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: rgb(130, 130, 130, 0.32);
		&._bottom {
			left: calc(100% - 111px);
			top: 48.8%;
		}
		&::before {
			content: "";
			width: 57px;
			height: 1px;
			display: block;
			position: absolute;
			right: calc(100% + 13px);
			top: 50%;
			background: rgb(130, 130, 130, 0.32);;
		}
}
	&__article {
		width: 47%;
		padding: 80px 0 0 9.8%;
	}
	&__title {
		font-size: 36px;
		line-height: 44px;
		margin: 0 0 25px 0;
	}
	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
		color: rgba(8, 8, 8, 0.7);
		margin: 0 0 12px 0;
		&.mb {
			margin: 0px 0 55px 0px;
		}
	}
	&__more {
		color: #080808;
		margin: 0 0 0 17px;
		&::before,
		&::after {
			top: 6px;
			background: rgba(49, 49, 49, 0.2);
		}
		&::after {
			width: 53.4px;
		}
	}
	&__top-image {
		width: 37.22%;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__footer {
		position: relative;
		display: flex;
		align-items: center;
		padding: 0 0 0 9.79%;
	}
	&__bottom-image {
		position: relative;
		max-width: 316px;
		margin: 0px 26.69% 0 0;
		& .image-1 {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
		& .image-2 {
			max-width: 279px;
			position: absolute;
			left: calc(100% - 80px);
			bottom: calc(100% - 47px);
		}
	}

	&__bottom-text {
		position: relative;
		font-weight: 300;
		font-size: 20px;
		line-height: 170.66%;
		color: rgb(8, 8, 8, 0.7);
		max-width: 380px;
		padding: 45px 0 0 0;
		img {
			position: absolute;
			top: 54px;
			left: -49px;
		}
	}
}

.projects {
	background: #000;
	color: #fff;
	padding: 140px 0 11px;
	& .container {
		position: relative;
	}
	& .block-title {
		top: 29px;
		left: 39px;
	}
	&__title,
	&__text {
		text-align: center;
	}

	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 44px;
		color: #FAFAFA;
		margin: 0 0 30px 0;
	}

	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
		color: #828282;
		margin: 0 auto 132px;
		max-width: 450px;
	}
}

.collages {
	padding: 65px 0;
	margin: 0 0 92px 0;
	&__row {
		position: relative;
	}
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 51px;
		max-width: 424px;
		margin-bottom: 25px;
		position: relative;
		z-index: 1;
	}
	&__body {
		max-width: 339px;
		margin: 0 0 0 auto;
	}
	&__text {
		font-weight: 300;
		line-height: 23.8px;
		margin-bottom: 45px;
		position: relative;
		z-index: 1;
	}
	&__button {
		font-weight: 600;
		font-size: 11px;
		line-height: 13px;
		text-align: center;
		letter-spacing: 0.06em;
		color: #080808;
		background: #fff;
		padding: 17px 48px;
		display: inline-block;
		border: 1px solid rgb(8, 8, 8, 0.32);
	}
	&__image {
		position: absolute;
		top: 45.7%;
		left: 48.6%;
		transform: translate(-50%, -50%);
	}
	& .block-title {
		top: 40px;
		left: -168px;
	}

	&_black {
		background: #080808;
		color: #fff;
	}
	&._main {
		padding: 65px 0 179px;
		margin: 0;
		& .block-title {
			left: -173px;
			top: 53px;
		}
	}
}

.photos {
	min-height: 814px;
	background: #FAFAFA;
	overflow: hidden;
	&__container {
		max-width: 1440px;
		margin: 0 auto;
		min-height: 814px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		position: relative;
	}
	&__title {
		font-weight: 700;
		font-size: 56px;
		line-height: 68px;
		color: #080808;
		margin: 9px 0 15px 0;
	}
	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
		color: rgb(8, 8, 8, 0.6);
		max-width: 427px;
	}
	&__image {
		position: absolute;
		box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.16);
		&._image-1 {
			top: 184px;
			left: -142px;
			z-index: 1;
		}
		&._image-2 {
			top: 63px;
			left: 144px;
		}
		&._image-3 {
			top: -143px;
			right: 319px;
			z-index: 1;
		}
		&._image-4 {
			top: 63px;
			right: 111px;
		}
		&._image-5 {
			bottom: 105px;
			right: -84px;
		}
		&._image-6 {
			left: calc(50% + 53px);
			bottom: -45px;
		}
		&._image-7 {
			left: 278px;
			bottom: 61px;
		}
		&._image-8 {
			left: -126px;
			bottom: -89px;
		}
	}
	&_black {
		background: #080808;
		& .photos__title {
			color: #fff;
		}
		& .photos__text {
			color: rgba(255, 255, 255, 0.6);
		}
	}
}

.contacts {
	background: url('@img/constacs_bg.jpg') center/cover no-repeat;
	padding: 119px 0 27px;
	position: relative;
	& .container_small {
		padding: 0 194px;
	}
	&__row {
		color: #fff;
		position: relative;
		margin: 0 0 96px 0;
	}
	& .block-title {
		top: 23px;
		left: -25px;
	}
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 44px;
		margin: 0 0 12px 0;
		&._mobile {
			display: none;
		}
	}
	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
		max-width: 390px;
		margin: 0 0 64px 0;
	}
	&__list {
		margin: 0 0 65px 0;
		display: flex;
		gap: 126px;
	}
	&__city-title {
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
		margin: 0 0 15px 0;
	}
	&__addr,
	&__number {
		font-weight: 300;
		font-size: 11px;
		line-height: 21px;
		letter-spacing: 0.06em;
		color: #FAFAFA;
	}
	&__social {
		margin: 2px 0 0 19.1%;
		&-list {
			padding: 25px 0 0 0;
			display: flex;
			gap: 17px;
		}
	}
	&._page {
		padding: 182px 0 27px;
		& .contacts__row {
			margin: 0 0 92px 0;
		}
	}
}

@media (min-width: 1441px){
	.body-slide {
		max-width: 1220px;
		margin: 0 auto;
	}
}

@media (max-width: 1220px) {
	.philosophy {
		padding: 123px 0;
		&__top-image {
			width: 36.3%;
			height: 439px;
		}
		&__head {
			margin: 0 0 161px 0;
		}
		&__block-title {
			top: 80px;
			left: -20px;
			&._bottom {
				display: none;
			}
		}
		&__article {
			width: 55%;
			padding: 57px 0 0 10.1%;
		}
		&__title {
			font-size: 32px;
			line-height: 39px;
			margin: 0 0 12px 0;
		}
		&__text {
			&.mb {
				margin: 0px 0 35px 0px;
			}
		}
		&__footer {
			padding: 0px 0 0 10%;
		}
		&__bottom-image {
			max-width: 191px;
			margin: 0px 23.91% 0 0;
			& .image-2 {
				max-width: 190px;
				position: absolute;
				left: calc(100% - 36px);
				bottom: calc(100% - 23px);
			}
		}
		&__bottom-text {
			font-size: 16px;
			padding: 0;
			margin: 0 0 18px 0;
			max-width: 313px;
			img {
				top: 9px;
				left: -31px;
				width: 12px;
			}
		}
	}

	.projects {
		padding: 125px 0 0px;
		&__title {
			font-size: 32px;
			line-height: 39px;
			margin: 0 0px 22px 0;
		}
		&__text {
			padding: 0 0px 0 2px;
			margin: 0 auto 117px;
		}
		& .gallery {
			margin-bottom: 72px;
			&__row {
				margin-bottom: 5px;
			}
			&__body {
				padding: 29px 33px 35px 33px;
			}
		}
	}

	.collages {
		padding: 0;
		margin: 0 0 104px 0;
		&__image {
			display: none;
		}
		&__row {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		&__body {
			margin: 0;
			max-width: 448px;
		}
		&__title {
			font-size: 32px;
			line-height: 142.4%;
			max-width: 365px;
			margin-bottom: 25px;
		}
		&__text {
			margin-bottom: 66px;
		}
		&__button {
			padding: 14px 48px;
		}
		& .block-title {
			top: 40px;
			left: -141px;
		}
		&._main {
			padding: 65px 0 142px;
			& .block-title {
				left: -142px;
				top: 41px;		  
			}
		}
	}

	.photos {
		min-height: 790px;
		&__title {
			font-size: 48px;
			line-height: 59px;
			margin: 11px 0 16px 0;
		}
		&__image {
			&._image-1 {
				top: 219px;
				left: -237px;
				z-index: 1;
				height: 195px;
			}
			&._image-2 {
				top: 116px;
				left: 5px;
				height: 151px;
			}
			&._image-3 {
				top: -59px;
				right: 275px;
				height: 195px;
				z-index: 1;
			}
			&._image-4 {
				top: 114px;
				right: 99px;
				height: 154px;
			}
			&._image-5 {
				bottom: 127px;
				right: -151px;
				height: 239px;
			}
			&._image-6 {
				left: calc(50% + 25px);
				bottom: -1px;
				height: 120px;
			}
			&._image-7 {
				left: 60px;
				bottom: 90px;
				height: 160px;
			}
			&._image-8 {
				display: none;
			}
		}
	}

	.contacts {
		padding: 105px 0 32px;
		& .container_small {
			padding: 0 159px;
		}
		&__title {
			font-size: 32px;
			line-height: 39px;
			&._pc {
				display: none;
			}
			&._mobile {
				display: block;
			}
		}
		&__text {
			margin: 0 0 57px 0;
		}
		&__row {
			margin: 0 0 90px 0;
		}
		&__list {
			gap: 64px;
			margin: 0 0 55px 0;
		}
		&__social {
			margin: 3px 0 0 5.5%;
			&-list {
				padding: 22px 0 0 0;
				display: flex;
				gap: 16px;
			}
		}
		& .collage__button {
			margin: 0;
		}
	}
}

@media (max-width: 991px) {
	.philosophy {
		padding: 104px 0 97px;
		margin: 0 auto 0;
		&__container {
			padding: 0px 126px 0 124px;
		}
		&__block-title {
			top: 23px;
			left: -90px;
		}
		&__top-image {
			display: none;
		}
		&__article {
			width: 100%;
			padding: 0;
		}
		&__head {
			margin: 0px 0 205px 0;
		}
		&__text {
			&.mb {
				margin: 0px 0 32px 0px;
			}
		}
		&__footer {
			padding: 0;
			flex-direction: column;
			align-items: flex-start;
		}
		&__bottom-image {
			max-width: 153px;
			margin: 0 0 19px 0px;
			& .image-2 {
				max-width: 383px;
				position: absolute;
				left: calc(100% - 16px);
				bottom: calc(100% - 95px);
			}
		}
		&__bottom-text {
			align-self: flex-end;
			margin: 1px -2px 0 0px;
			max-width: 290px;
			img {
				left: -29px;
			}
		}
	}

	.projects {
		padding: 104px 0 0;
		&__text {
			margin: 0 auto 96px;
		}
		& .gallery {
			&__row {
				margin-bottom: 6px;
			}
			&__top {
				gap: 18px;
			}
			&__body {
				padding: 29px 33px 38px 32px;
			}
			&__more {
				margin: 0 0 0 12px;
				&::before {
					left: -12px;
				}
			}
		}
	}

	.collages {
		margin: 0 0 84px 0;
		& .block-title {
			top: 40px;
			left: -114px;
		}
		&__title {
			max-width: 376px;
			margin-bottom: 24px;
		}
		&__text {
			margin-bottom: 52px;
		}
		&__button {
			padding: 14px 48px 13px;
		}
		&._main {
			margin: -1px 0 0 0;
			padding: 49px 0 126px;
			& .collages__title {
				max-width: 360px;
			}
		}
	}

	.photos {   
		min-height: 831px;
		&__title {
			font-size: 44px;
			line-height: 54px;
			margin: 0 0px 22px 0;
		}
		&__image {
			&._image-1 {
				height: 166px;
				top: 199px;
				left: -166px;
			}
			&._image-2 {
				top: 110px;
				left: 38px;
				height: 130px;
			}
			&._image-3 {
				height: 182px;
				top: -31px;
				right: 90px;
			}
			&._image-4 {
				top: 132px;
				right: -71px;
				height: 141px;
			}
			&._image-5 {
				bottom: 132px;
				right: -250px;
				height: 222px;
			}
			&._image-6 {
				left: calc(50% + 56px);
				bottom: -19px;
				height: 111px;
			}
			&._image-7 {
				left: 44px;
				bottom: 65px;
				height: 151px;
			}
		}
	}

	.contacts {
		padding: 87px 0 25px;
		& .container_small {
			padding: 0 124px;
		}
		&__row {
			margin: 0 0 73px 0;
		}
		&__social {
			list-style-type: none;
			margin: 1px 0 0 35.2%;
			&-list {
				padding: 15px 0 0 0;
			}
		}
		&__button {
			display: flex;
			align-items: flex-start;
		}
		&__text {
			margin: 0 0 50px 0;
		}
		&__list {
			gap: 59px;
			margin: 0 0 48px 0;
		}
		& .block-title {
			top: 34px;
			left: -101px;	  
		}
	}
}

@media (max-width: 767px) {
	.philosophy {
		padding: 80px 0;
		&__container {
			padding: 0px 26px 0 24px;
		}
		&__head {
			margin: 0px 0 199px 0;
		}
		&__title {
			font-size: 26px;
			line-height: 32px;
			margin: 0 0 13px 0;
		}
		&__bottom-image {
			max-width: 131px;
			& .image-2 {
				max-width: 264px;
				left: calc(100% - 68px);
				bottom: calc(100% - 44px);
			}
		}
		&__bottom-text {
			margin: 58px -5px 0 0px;
			img {
				left: -42px;
			}
		}
	}
}
@media (max-width: 575px) {
	.philosophy {
		padding: 80px 0 64px;
	}

	.projects {
		padding: 80px 0 303px 1px;
		&__title,
		&__text {
			text-align: left;
		}
		&__title {
			font-size: 26px;
			line-height: 32px;
			margin: 0 0px 13px 0;
		}
		&__text {
			margin: 0 auto 56px;
		}
		& .gallery {
			&__body {
				padding: 21px 22px 29px 22px;
			}
		}
	}

	.collages {
		margin: 0 0 73px 0;
		&__row {
			text-align: left;
			align-items: flex-start;
		}
		&__title {
			font-size: 26px;
			line-height: 32px;
			max-width: 297px;
			margin-bottom: 10px;
		}
		&__text {
			margin-bottom: 41px;
		}
		&._main {
			padding: 49px 0 96px;
			& .collages__title {
				max-width: 297px;
				margin-bottom: 20px;
			}
			& .collages__text {
				margin-bottom: 40px;
			}
			& .collages__button {
				padding: 14px 50px 13px;
			}
		}
	}

	.photos {
		min-height: 675px;
		&__title {
			font-size: 32px;
			line-height: 39px;
			margin: 30px 0 15px 0;
		}
		&__text {
			max-width: 287px;
		}
		&__image {
			&._image-1 {
				height: 104px;
				top: 99px;
				left: -90px;
			}
			&._image-2 {
				top: 37px;
				left: 53px;
				height: 80px;
			}
			&._image-3 {
				height: 114px;
				top: 112px;
				right: -92px;
			}
			&._image-4 {
				top: 132px;
				right: -71px;
				height: 141px;
				display: none;
			}
			&._image-5 {
				bottom: 123px;
				right: -138px;
				height: 139px;
			}
			&._image-6 {
				left: calc(50% + 41px);
				bottom: -11px;
				height: 70px;
			}
			&._image-7 {
				left: 22px;
				bottom: 145px;
				height: 70px;
				z-index: 1;
			}
			&._image-8 {
				height: 123px;
				left: -97px;
				bottom: 69px;
				display: inline-block;
			}
		}
	}

	.contacts {
		padding: 55px 0 2px;
		& .container_small {
			padding: 0 24px;
		}
		&__row {
			padding: 0 0px 0 1px;
			margin: 0 0 33px 0;
		}
		&__title {
			font-size: 26px;
			line-height: 32px;
		}
		&__text {
			margin: 0 0 43px 0;
			max-width: 320px;
		}
		&__list {
			flex-wrap: wrap;
			gap: 33px 50px;
			margin: 0 0 33px 0;
		}
		&__city {
			&-title {
				margin: 0 0 8px 0;
			}
		}
		&__button {
			flex-direction: column-reverse;
		}
		&__social {
			margin: 0 0 44px 0;
		}
	}
}

@media (max-width: 370px) {
	.philosophy {
		&__bottom-image {
			max-width: 131px;
			& .image-2 {
				max-width: 204px;
				left: 35%;
				bottom: calc(100% - 44px);
			}
		}
	}
}