.philosophy {
	padding: 141px 0;
	&__container {
		max-width: 1440px;
		padding: 0 0 0 62px;
	}
	&__head {
		display: flex;
		justify-content: space-between;
		position: relative;
		margin: 0 0 78px 0;
	}
	&__block-title {
		position: absolute;
		top: 99px;
		left: -14px;
		transform: rotate(-90deg);
		font-weight: 700;
		font-size: 8px;
		line-height: 14px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: rgb(130, 130, 130, 0.32);
		&._bottom {
			left: calc(100% - 111px);
			top: 48.8%;
		}
		&::before {
			content: "";
			width: 57px;
			height: 1px;
			display: block;
			position: absolute;
			right: calc(100% + 13px);
			top: 50%;
			background: rgb(130, 130, 130, 0.32);;
		}
}
	&__article {
		width: 47%;
		padding: 80px 0 0 9.8%;
	}
	&__title {
		font-size: 36px;
		line-height: 44px;
		margin: 0 0 25px 0;
	}
	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
		color: rgba(8, 8, 8, 0.7);
		margin: 0 0 12px 0;
		&.mb {
			margin: 0px 0 55px 0px;
		}
	}
	&__more {
		color: #080808;
		margin: 0 0 0 17px;
		&::before,
		&::after {
			top: 6px;
			background: rgba(49, 49, 49, 0.2);
		}
		&::after {
			width: 53.4px;
		}
	}
	&__top-image {
		width: 37.22%;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__footer {
		position: relative;
		display: flex;
		align-items: center;
		padding: 0 0 0 9.79%;
	}
	&__bottom-image {
		position: relative;
		max-width: 316px;
		margin: 0px 26.69% 0 0;
		& .image-1 {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
		& .image-2 {
			max-width: 279px;
			position: absolute;
			left: calc(100% - 80px);
			bottom: calc(100% - 47px);
		}
	}

	&__bottom-text {
		position: relative;
		font-weight: 300;
		font-size: 20px;
		line-height: 170.66%;
		color: rgb(8, 8, 8, 0.7);
		max-width: 380px;
		padding: 45px 0 0 0;
		img {
			position: absolute;
			top: 54px;
			left: -49px;
		}
	}
}

.projects {
	background: #000;
	color: #fff;
	padding: 140px 0 181px;
	& .container {
		position: relative;
	}
	& .block-title {
		top: 29px;
		left: 30px;
	}
	&__title,
	&__text {
		text-align: center;
	}

	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 44px;
		color: #FAFAFA;
		margin: 0 0 30px 0;
	}

	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
		color: #828282;
		margin: 0 auto 132px;
		max-width: 450px;
	}
	&__list {
		display: grid;
		grid-template-areas: 
		"item-1 item-2"
		"item-3 item-3"
		"item-4 item-5";
		grid-template-columns: 1fr 1fr;
		gap: 8px 8px;
		margin: 0 0 111px 0;
	}
	&__item {
		position: relative;
		cursor: pointer;
		overflow: hidden;
		img {
			transition: .3s;
			transform: scale(1);
		}
		&:hover {
			img {
				transform: scale(1.02);
			}
		}
	}
	&__image {
		width: 100%;
	}
	& ._item-1 {
		grid-area: item-1;
	}
	& ._item-2 {
		grid-area: item-2;
	}
	& ._item-3 {
		grid-area: item-3;
		& .item-body__footer {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
		}
		& .item-body__title {
			margin-bottom: 0;
		}
		& .item-body__more {
			max-width: 100%;
			margin: 0 32px 0 0;
		}
		& .projects__image {
			&._mobile {
				display: none;
			}
			&._pc {
				display: block;
			}
		}
	}
	& ._item-4 {
		grid-area: item-4;
	}
	& ._item-5 {
		grid-area: item-5;
		background: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 30px 0;
	}
	&__item-text {
		font-weight: 700;
		font-size: 22px;
		line-height: 28px;
		color: #080808;
		margin: 0 2px 24px 0px;
	}
	&__item-img {
		width: 243px;
		height: 323px;
		margin: 0 0 51px 0;
		img {
			object-fit: cover;
			height: 100%;
		}
	}
}

.item-body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 32px 32px 34px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__item {
		margin: 0 18px 0 0;
		font-weight: 500;
		font-size: 11px;
		line-height: 170%;
		color: #fff;
		&:last-child {
			margin: 0;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 126%;
		color: #FAFAFA;
		margin: 0 0 24px 0;
		text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
		&._mobile {
			display: none;
		}
	}

	&__more {
		color: #fff;
		text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	}
}

.collage {
	margin: 0 auto;
	max-width: 1046px;
	padding: 67px 0 0 0;
	position: relative;
	& .block-title {
		top: 120px;
		left: -173px;
	}
	img {
		position: absolute;
		top: calc(50% + 18px);
		left: calc(50% - 15px);
		transform: translate(-50%, -50%);
	}
	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 51px;
		max-width: 424px;
		margin: 0 0 24px 0;
		position: relative;
		z-index: 1;
	}
	&__body {
		max-width: 339px;
		margin: 0 0 0 auto;
	}
	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
		margin: 0 0 45px 0;
		position: relative;
		z-index: 1;
	}
	&__button {
		font-weight: 600;
		font-size: 11px;
		line-height: 13px;
		text-align: center;
		letter-spacing: 0.06em;
		color: #080808;
		background: #fff;
		padding: 17px 49px;
		display: inline-block;
	}
}

.photos {
	min-height: 814px;
	background: #FAFAFA;
	overflow: hidden;
	&__container {
		max-width: 1440px;
		margin: 0 auto;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		position: relative;
		height: 100%;
	}
	&__title {
		font-weight: 700;
		font-size: 56px;
		line-height: 68px;
		color: #080808;
		margin: 12px 0 15px 0;
	}
	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
		color: rgb(8, 8, 8, 0.6);
		max-width: 427px;
		padding: 0 0 0 3px;
	}
	&__image {
		position: absolute;
		&._image-1 {
			top: 184px;
			left: -142px;
			z-index: 1;
		}
		&._image-2 {
			top: 63px;
			left: 143px;
		}
		&._image-3 {
			top: -141px;
			right: 318px;
			z-index: 1;
		}
		&._image-4 {
			top: 63px;
			right: 111px;
		}
		&._image-5 {
			bottom: 105px;
			right: -86px;
		}
		&._image-6 {
			left: calc(50% + 53px);
			bottom: -45px;
		}
		&._image-7 {
			left: 278px;
			bottom: 61px;
		}
		&._image-8 {
			left: -126px;
			bottom: -89px;
		}
	}
}

@media (min-width: 1441px){
	.body-slide {
		max-width: 1220px;
		margin: 0 auto;
	}
}

@media (max-width: 1220px) {
	.philosophy {
		padding: 123px 0;
		&__top-image {
			width: 36.3%;
			height: 439px;
		}
		&__head {
			margin: 0 0 161px 0;
		}
		&__block-title {
			top: 80px;
			left: -20px;
			&._bottom {
				display: none;
			}
		}
		&__article {
			width: 55%;
			padding: 57px 0 0 10.1%;
		}
		&__title {
			font-size: 32px;
			line-height: 39px;
			margin: 0 0 12px 0;
		}
		&__text {
			&.mb {
				margin: 0px 0 35px 0px;
			}
		}
		&__footer {
			padding: 0px 0 0 10%;
		}
		&__bottom-image {
			max-width: 191px;
			margin: 0px 23.91% 0 0;
			& .image-2 {
				max-width: 190px;
				position: absolute;
				left: calc(100% - 36px);
				bottom: calc(100% - 23px);
			}
		}
		&__bottom-text {
			font-size: 16px;
			padding: 0;
			margin: 0 0 18px 0;
			max-width: 313px;
			img {
				top: 9px;
				left: -31px;
				width: 12px;
			}
		}

	}

	.projects {
		padding: 125px 0 141px;
		& .container {
			padding: 0 56px 0 55px;
		}
		&__title {
			font-size: 32px;
			line-height: 39px;
			margin: 0 0px 22px 0;
		}
		&__text {
			padding: 0 0px 0 2px;
			margin: 0 auto 117px;
		}
		&__list {
			gap: 6px 6px;
			margin: 0 0 64px 0;
		}
		& ._item-3 {
			& .item-body {
				padding: 29px 32px 29px;
				&__more {
					margin: 0 117px 5px 0;
					&::after {
						width: 53.4px;
					}
				}
			}
		}

		&__item-text {
			font-size: 20px;
			line-height: 25px;
			margin: 0 0px 24px 0px;
		}

		&__item-img {
			width: 168px;
			height: 223px;
			margin: 0 0 57px 0;
		}
	}

	.item-body {
		padding: 29px 32px 34px;
		&__item {
			margin: 0 22px 0 0;
		}
		&__title {
			margin: 0 0 24px 1px;
		}
		&__more {
			margin: 0px 0 0 19px;
		}
	}

	.collage {
		max-width: 455px;
		text-align: center;
		padding: 75px 2px 0 0px;
		img {
			display: none;
		}
		& .block-title{
			top: 113px;
			left: -267px;	  
		}
		&__title,
		&__body {
			max-width: 428px;
			max-width: 100%;
			margin: 0 auto 0;
		}
		&__title {
			max-width: 365px;
			font-size: 32px;
			line-height: 46px;
			margin: 0 auto 20px;
		}
		&__text {
			padding: 0 0px 0px 4px;
			margin: 0 0 65px 0;
		}
		&__button {
			width: 184px;
			padding: 17px 0 14px 0;
			margin: 0 0 0 4px;
		}
	}

	.photos {
		min-height: 790px;
		&__title {
			font-size: 48px;
			line-height: 59px;
			margin: 11px 0 16px 0;
		}
		&__image {
			&._image-1 {
				top: 219px;
				left: -237px;
				z-index: 1;
				height: 195px;
			}
			&._image-2 {
				top: 116px;
				left: 5px;
				height: 151px;
			}
			&._image-3 {
				top: -59px;
				right: 275px;
				height: 195px;
				z-index: 1;
			}
			&._image-4 {
				top: 114px;
				right: 99px;
				height: 154px;
			}
			&._image-5 {
				bottom: 127px;
				right: -151px;
				height: 239px;
			}
			&._image-6 {
				left: calc(50% + 25px);
				bottom: -1px;
				height: 120px;
			}
			&._image-7 {
				left: 60px;
				bottom: 90px;
				height: 160px;
			}
			&._image-8 {
				display: none;
			}
		}
	}
}

@media (max-width: 991px) {
	.philosophy {
		padding: 104px 0 97px;
		margin: 0 auto 0;
		&__container {
			padding: 0px 126px 0 124px;
		}
		&__block-title {
			top: 23px;
			left: -90px;
		}
		&__top-image {
			display: none;
		}
		&__article {
			width: 100%;
			padding: 0;
		}
		&__head {
			margin: 0px 0 205px 0;
		}
		&__text {
			&.mb {
				margin: 0px 0 32px 0px;
			}
		}
		&__footer {
			padding: 0;
			flex-direction: column;
			align-items: flex-start;
		}
		&__bottom-image {
			max-width: 153px;
			margin: 0 0 19px 0px;
			& .image-2 {
				max-width: 383px;
				position: absolute;
				left: calc(100% - 16px);
				bottom: calc(100% - 95px);
			}
		}
		&__bottom-text {
			align-self: flex-end;
			margin: 1px -2px 0 0px;
			max-width: 290px;
			img {
				left: -29px;
			}
		}
	}
	.projects {
		& .container {
			padding: 0 49px 0 48px;
		}
		&__text {
			margin: 0 auto 96px;
		}
		&__list {
			gap: 7px 6px;
			margin: 0 0px 46px 0px;
		}
		&__item-img {
			width: 251px;
			height: 331px;
			margin: 0;
		}
		& ._item-5 {
			padding: 146px 0 145px;
		}
	}

	.item-body {
		padding: 28px 32px 30px;
		&__item {
			margin: 0 14px 0 0;
		}
		&__more {
			margin: 0px 0 0 17px;
		}
	}

	.collage {
		&__text {
			margin: 0px 0 54px 0;
		}
	}

	.photos {   
		min-height: 831px;
		&__title {
			font-size: 44px;
			line-height: 54px;
			margin: 5px 0 20px 0;
		}
		&__image {
			&._image-1 {
				height: 166px;
				top: 199px;
				left: -166px;
			}
			&._image-2 {
				top: 110px;
				left: 38px;
				height: 130px;
			}
			&._image-3 {
				height: 182px;
				top: -31px;
				right: 90px;
			}
			&._image-4 {
				top: 132px;
				right: -71px;
				height: 141px;
			}
			&._image-5 {
				bottom: 132px;
				right: -250px;
				height: 222px;
			}
			&._image-6 {
				left: calc(50% + 56px);
				bottom: -19px;
				height: 111px;
			}
			&._image-7 {
				left: 44px;
				bottom: 65px;
				height: 151px;
			}
		}
	}
}

@media (max-width: 769px) {
	.projects {
		padding: 104px 0 124px;
		&__title {
			margin: 0 0px 21px 0;
		}
		&__list {
			grid-template-areas:
			"item-1"
			"item-2"
			"item-4"
			"item-3"
			"item-5";
			grid-template-columns: 1fr;
		}
		& ._item-3 {
			& .item-body__footer {
				display: block;
			}
			& .item-body__title {
				margin: 0 0 25px 0;
				&._pc {
					display: none;
				}
				&._mobile {
					display: block;
				}
			}
			& .item-body__more {
				margin: 0 0px 0 17px;
			}
			& .projects__image {
				&._pc {
					display: none;
				}
				&._mobile {
					display: block;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.philosophy {
		padding: 80px 0;
		&__container {
			padding: 0px 26px 0 24px;
		}
		&__head {
			margin: 0px 0 199px 0;
		}
		&__title {
			font-size: 26px;
			line-height: 32px;
			margin: 0 0 13px 0;
		}
		&__bottom-image {
			max-width: 131px;
			& .image-2 {
				max-width: 264px;
				left: calc(100% - 68px);
				bottom: calc(100% - 44px);
			}
		}
		&__bottom-text {
			margin: 58px -5px 0 0px;
			img {
				left: -42px;
			}
		}
	}
}
@media (max-width: 575px) {
	.philosophy {
		padding: 80px 0 64px;
	}

	.projects {
		padding: 80px 0 95px 1px;
		& .container {
			padding: 0 25px 0 22px;
		}
		&__title,
		&__text {
			text-align: left;
		}
		&__title {
			font-size: 26px;
			line-height: 32px;
			margin: 0 0px 13px 0;
		}
		&__text {
			margin: 0 auto 80px;
		}
		&__list {
			margin: 0 1px 354px 1px;
			gap: 6px;
		}
		& ._item-3 {
			& .item-body {
				padding: 22px 22px 24px;
				&__title {
					margin: 0 0 7px 0;
				}
			}
		}
		& ._item-5 {
			padding: 63px 0 62px;
		}
		&__item-text {
			margin: 0 0px 16px 0px;
		}
		&__item-img {
			width: 121px;
			height: 161px;
		}
	}

	.item-body {
		padding: 22px 22px 24px;
		&__title {
			margin: 0 0 8px 0;
		}
		&__more {
			&::before,
			&::after{
				top: 6px;
			}
			&::after {
				width: 56.4px;
			}
		}
	}

	.collage {
		text-align: left;
		&__title {
			font-size: 26px;
			line-height: 32px;
			margin: 0 0 20px 2px;
			max-width: 297px;
		}
		&__text {
			padding: 0 0px 0px 3px;
			margin: 0 0 39px 0;
		}
		&__button {
			width: 183px;
		}
	}

	.container_collage {
		padding: 0 22px 0 22px !important;
	}
	.photos {
		min-height: 675px;
		&__title {
			font-size: 32px;
			line-height: 39px;
			margin: 30px 0 15px 0;
		}
		&__text {
			max-width: 287px;
		}
		&__image {
			&._image-1 {
				height: 104px;
				top: 99px;
				left: -90px;
			}
			&._image-2 {
				top: 37px;
				left: 53px;
				height: 80px;
			}
			&._image-3 {
				height: 114px;
				top: 112px;
				right: -92px;
			}
			&._image-4 {
				top: 132px;
				right: -71px;
				height: 141px;
				display: none;
			}
			&._image-5 {
				bottom: 123px;
				right: -138px;
				height: 139px;
			}
			&._image-6 {
				left: calc(50% + 41px);
				bottom: -11px;
				height: 70px;
			}
			&._image-7 {
				left: 22px;
				bottom: 145px;
				height: 70px;
				z-index: 1;
			}
			&._image-8 {
				height: 123px;
				left: -97px;
				bottom: 69px;
				display: inline-block;
			}
		}
	}
}
@media (max-width: 370px) {
	.philosophy {
		&__bottom-image {
			max-width: 131px;
			& .image-2 {
				max-width: 204px;
				left: 35%;
				bottom: calc(100% - 44px);
			}
		}
	}
}