.nav {
	width: 100%;
	position: absolute;
	z-index: 10;
	&__row,
	&__body,
	&__buttons {
		display: flex;
		align-items: center;
	}
	&__row {
		padding: 24px 0;
		color: #fff;
	}
	&__logo {
		margin: 0 10.75% 0 0;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.3em;
		text-transform: uppercase;
	}
	&__body {
		justify-content: space-between;
		width: 100%;
	}
	&__body,
	&__link {
		font-weight: 600;
		font-size: 11px;
		line-height: 13px;
		letter-spacing: 0.06em;
		color: #fff;
	}
	&__list {
		display: flex;
		gap: 48px;
	}
	&__link {
		padding: 10px 0;
		&:hover {
			text-shadow: 0 0 2px #fff;
		}
	}
	&__send,
	&__lang {
		font-weight: 600;
		font-size: 11px;
		line-height: 13px;
		letter-spacing: 0.06em;
		color: #fff;
	}
	&__lang {
		margin: 0 61px 0 0;
	}
	&__send {
		padding: 17px 48px;
		border: 1px solid rgba(253, 253, 253, 0.32);
		&:hover {
			background-color: rgba(253, 253, 253, 0.2);
		}
	}
	& .select {
		width: 50px;
		text-align: center;
		&__body {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
}

.burger {
	display: none;
	&__icon {
		display: block;
		position: relative;
		width: 28px;
		height: 28px;
		display: flex;
		align-items: center;
		span,
		span::before,
		span::after {
			content: "";
			position: absolute;
			height: 1px;
			width: 100%;
			transition: .3s;
		}
		span::before {
			top: -6px;
			background: #fff;
		}
		span::after {
			top: 1px;
			background: #fff;
		}
		&._active {
			span::before {
				transform: rotate(45deg);
				top: 0px;
			}
			span::after {
				transform: rotate(-45deg);
				top: 0px;
			}
		}
	}
	&__text {
		margin: 0 0 4px 0;
	}
}


@media (max-width: 1024px) {
	.nav {
		&__row {
			padding: 25px 0;
		}
		&__list {
			position: absolute;
			top: 90%;
			left: -100%;
			width: 100%;
			padding: 20px;
			justify-content: center;
			backdrop-filter: blur(10px);
			opacity: 0;
			visibility: hidden;
			z-index: -1;
			transition: .2s;
			&._active {
				left: 0;
				opacity: 1;
				visibility: visible;
				z-index: 10;
			}
		}
		&__lang {
			margin: 0 35px 0 0;
		}
		&__send {
			padding: 14px 33px 13px 36px;
		}
	}

	.burger {
		display: flex;
		align-items: center;
		gap: 24px;
	}
}

@media (max-width: 991px) {
	.nav {
		&__logo {
			margin: 0px 14% 0px 0;
		}
	}

	.burger {
		margin: 4px 0 0 0;
		gap: 21px;
	}
}

@media (max-width: 767px) {
	.nav {
		&__row {
			padding: 14px 0;
		}
		&__body {
			flex-direction: row-reverse;
			justify-content: flex-start;
		}
		&__list {
			display: block;
			text-align: center;
			overflow: auto;
		}
		&__item {
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			&:last-child {
				border: 0;
			}
		}
		&__link {
			display: block;
			padding: 15px 0;
		}
		&__send {
			display: none;
		}
		&__lang {
			margin: 0 30px 0 0;
		}
	}

	.burger {
		&__text {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.nav {
		&__lang {
			margin: 0 33px 0 0;
		}
	}
}