.nav {
	width: 100%;
	position: absolute;
	&__row,
	&__body,
	&__buttons {
		display: flex;
		align-items: center;
		z-index: 10;
	}
	&__row {
		padding: 24px 0;
		color: #fff;
		position: relative;
	}
	&__logo {
		margin: 0 7% 0 0;
		line-height: 17px;
		letter-spacing: 0.3em;
		text-transform: uppercase;
	}
	&__logo-link {
		color: #fff;
	}
	&__body {
		justify-content: space-between;
		width: 100%;
	}
	&__body,
	&__link {
		font-weight: 600;
		font-size: 11px;
		line-height: 13px;
		letter-spacing: 0.06em;
		color: #fff;
	}
	&__list {
		display: flex;
		gap: 48px;
		& ._home {
			display: none;
		}
	}
	&__link {
		padding: 10px 0;
		&:hover {
			text-shadow: 0 0 2px #fff;
		}
	}
	&__send,
	&__lang {
		font-weight: 600;
		font-size: 11px;
		line-height: 13px;
		letter-spacing: 0.06em;
		color: #fff;
	}
	&__lang {
		margin: 0 62px 0 0;
	}
	&__send {
		padding: 17px 47px;
		border: 1px solid rgba(253, 253, 253, 0.32);
		&:hover {
			background-color: rgba(253, 253, 253, 0.2);
		}
	}
	& .select {
		width: 50px;
		text-align: center;
		&__body {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
}

.burger {
	display: none;
	&__icon {
		display: block;
		position: relative;
		width: 28px;
		height: 28px;
		display: flex;
		align-items: center;
		z-index: 10;
		span,
		span::before,
		span::after {
			content: "";
			position: absolute;
			height: 1px;
			width: 100%;
			transition: .3s;
		}
		span::before {
			top: -6px;
			background: #fff;
		}
		span::after {
			top: 1px;
			background: #fff;
		}
		&._active {
			span::before {
				transform: rotate(45deg);
				top: 0px;
				background: #fff;
			}
			span::after {
				transform: rotate(-45deg);
				top: 0px;
				background: #fff;
			}
		}
	}
	&__text {
		margin: 0 0 4px 0;
	}
}

.burger-menu {
	display: none;
	position: fixed;
	z-index: 9;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(8, 0, 8, 0.98);
	visibility: hidden;
	z-index: -1;
	transition: 0.3s;
	&._active {
		left: 0;
		visibility: visible;
		z-index: 9;
	}
	& .container {
		padding: 0 56px;
	}
	& .select {
		width: 118px;
	}
	& .body-slide__city {
		margin: 0px 4.3% 0 0;
	}
	&__row {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		padding: 90px 0 40px;
	}
	& .nav__link {
		color: rgba(255, 255, 255, 0.5);
	}
}

@media (max-width: 1024px) {
	.nav {
		&__row {
			padding: 25px 0;
		}
		&__logo {
			margin: 0 10.62% 0 0;
		}
		&__list {
			flex: 1 1 auto;
			flex-direction: column;
			justify-content: center;
			gap: 0px;
			margin: 0px 0 61px 0;
			padding: 0 0 0 155px;
			& ._home {
				display: block;
			}
		}
		&__link {
			font-weight: 700;
			font-size: 32px;
			line-height: 39px;
			padding: 16px 0 18px;
			display: block;
			letter-spacing: normal;
			&:hpver {
				color: #fff;
			}
		}
		&__lang {
			margin: 0 35px 0 0;
		}
		&__send {
			padding: 14px 33px 13px 36px;
		}
	}

	.burger {
		display: flex;
		align-items: center;
		gap: 24px;
	}

	.burger-menu {
		display: block;
		& .body-slide {
			&__footer {
				bottom: 40px;
				left: 56px;
			}
			&__city {
				margin: 0px 7.7% 0 0;
			}
		}
	}
}

@media (max-width: 991px) {
	.nav {
		&__logo {
			margin: 0px 14% 0px 0;
		}
		&__list {
			margin: 0 0 33px 0;
			padding: 0 0 0 132px;
		}
	}

	.burger {
		margin: 4px 0 0 0;
		gap: 21px;
	}

	.burger-menu {
		& .body-slide {
			&__footer {
				left: 48px;
			}
			&__city {
				margin: 0px 6.6% 0 0;
			}
		}
	}
}

@media (max-width: 767px) {
	.nav {
		& .body-slide__footer {
			justify-content: space-between;
		}
		&__row {
			padding: 14px 0;
		}
		&__body {
			flex-direction: row-reverse;
			justify-content: flex-start;
		}
		&__list {
			display: block;
			text-align: center;
			padding: 0;
			margin: 47px 0 0 0;
		}
		&__link {
			display: block;
			padding: 14px 0;
			font-size: 26px;
			line-height: 32px;
		}
		&__send {
			display: block;
			max-width: 158px;
			margin: 36px auto 0;
		}
		&__lang {
			margin: 0 30px 0 0;
		}
	}

	.burger {
		&__text {
			display: none;
		}
	}

	.burger-menu {
		& .body-slide__city .select__header {
			padding: 5px 10px 4px 13px;
			margin: 2px 0 0 0;
		}
		& .body-slide__footer {
			width: 79.3%;
		}
	}
}

@media (max-width: 575px) {
	.nav {
		&__lang {
			margin: 0 33px 0 0;
		}
	}

	.burger-menu {
		& .container {
			padding: 0 23px;
		}
		&__row {
			padding: 90px 0 21px;
		}
	}
}