.our-projects {
	padding: 111px 0 124px;
	&__head {
		display: flex;
		justify-content: space-between;
	}
	&__head-body {
		max-width: 448px;
	}
	&__text {
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
		margin: -4px 0 35px 0;
	}
}

.gallery {
	margin-bottom: 102px;
	& .picture-1 {
		background: url('@img/gallery_img-1.jpg') 0 0/cover no-repeat;
	}
	& .picture-2 {
		background: url('@img/gallery_img-2.jpg') 0 0/cover no-repeat;
	}
	& .picture-3 {
		background: url('@img/gallery_img-3.jpg') 0 0/cover no-repeat;
	}
	& .picture-4 {
		background: url('@img/gallery_img-4.jpg') 0 0/cover no-repeat;
	}
	& .picture-5 {
		background: url('@img/gallery_img-5.jpg') 0 0/cover no-repeat;
	}
	& .picture-6 {
		background: url('@img/gallery_img-6.jpg') 0 0/cover no-repeat;
	}
	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 8px;
		margin-bottom: 9px;
		&_big {
			grid-template-columns: 1fr;
		}
	}
	&__image {
		position: relative;
		overflow: hidden;
		padding: 0 0 100% 0;
		&_big {
			padding: 0px 0 49.77% 0;
		}
	}
	&__body {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 29px 31px;
		cursor: pointer;
		transition: 0.3s;
		&:hover {
			background: rgba(0, 0, 0, 0.1);
		}
	}
	&__top {
		font-weight: 400;
		font-size: 10px;
		line-height: 17px;
		color: #fff;
		display: flex;
		gap: 24px;
	}
	&__title {
		font-weight: 700;
		font-size: 22px;
		line-height: 28px;
		color: #fff;
		display: block;
	}
	&__more {
		display: none;
	}
}

.projects-more {
	background: #fff;
	color: #080808;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 112px 0 0 0;
	&__text {
		font-weight: 700;
		font-size: 22px;
		line-height: 28px;
		margin-bottom: 24px;
	}
	&__image {
		width: 243px;
		height: 323px;
		margin: 0 auto;
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
}

@media (max-width: 1220px) {
	.our-projects {
		padding: 54px 0 102px;
		&__head {
			display: block;
		}
		&__title {
			margin-bottom: 14px;
		}
		&__text {
			margin: 0px 0 30px 0;
		}
		& .news__list {
			margin: 0 0 0 0px;
			gap: 35px;
		}
		& .news__link {
			font-weight: 500;
			font-size: 11px;
			line-height: 19px;
			letter-spacing: normal;
		}
	}

	.gallery {
		margin-bottom: 114px;
		&__row {
			gap: 6px;
			margin-bottom: 6px;
			&_big {
				& .gallery__bottom {
					display: flex;
					justify-content: space-between;
					align-items: flex-end;
					padding: 0 115px 0 0;
					margin: 0 0 -1px 0;
				}
				& .gallery__title {
					max-width: 220px;
					margin: 0 0 -7px 0;
				}
			}
		}
		&__body {
			padding: 29px 33px 35px 31px;
		}
		&__top {
			font-size: 11px;
			line-height: 19px;
			gap: 26px;
		}
		&__title {
			font-size: 20px;
			line-height: 126%;
			margin-bottom: 26px;
		}
		&__more {
			display: block;
			max-width: 110px;
			color: #fff;
			margin: 0px 0 0 13px;
			&::before {
				top: 6px;
				width: 7px;
			}
			&::after {
				top: 6px;
				width: 56px;
			}
		}
	}

	.projects-more {
		padding: 64px 0 0 0;
		&__text {
			font-size: 20px;
			line-height: 25px;
		}
		&__image {
			width: 168px;
			height: 223px;
		}
	}
}

@media (max-width: 991px) {
	.our-projects {
		padding: 48px 0 93px;
		&__head-body {
			max-width: 496px;
		}
		&__title {
			margin-bottom: 12px;
		}
		&__text {
			margin: 0px 0 32px 0;
		}
	}

	.gallery {
		margin-bottom: 95px;
		& .picture-1 {
			background: url('@img/gallery_img-1_mob.jpg') 0 0/cover no-repeat;
		}
		& .picture-2 {
			background: url('@img/gallery_img-2_mob.jpg') 0 0/cover no-repeat;
		}
		& .picture-3 {
			background: url('@img/gallery_img-3_mob.jpg') 0 0/cover no-repeat;
		}
		& .picture-6 {
			background: url('@img/gallery_img-6_mob.jpg') 0 0/cover no-repeat;
		}
		&__row {
			grid-template-columns: 1fr;
			&_big {
				& .gallery__bottom {
					display: block;
				}
				& .gallery__title {
					max-width: 220px;
					margin: 0 0 26px 0;
				}
			}
		}
		&__top {
			gap: 19px;
		}
		&__image {
			padding: 0 0 100% 0;
		}
		&__body {
			padding: 24px 32px 38px 31px;
		}
	}

	.projects-more {
		padding: 145px 0 0 0;
		&__image {
			height: 331px;
			width: 251px;
		}
	}
}

@media (max-width: 575px) {
	.our-projects {
		padding: 46px 0 64px;
		&__title {
			font-size: 26px;
			line-height: 32px;
			margin-bottom: 13px;			
		}
		&__text {
			margin: 0px 0 27px 0;
		}
	}

	.gallery {
		margin-bottom: 91px;
		&__row {
			&_big {
				& .gallery__title {
					margin: 0 0 11px 0;
				}
			}
		}
		&__body {
			padding: 22px 24px 24px 24px;
		}
		&__title {
			margin-bottom: 11px;
		}
		&__top {
			gap: 18px;
			font-size: 11.1px;
		}
		&__more {
			margin: 0px 0 0 12px;
			&::before,
			&::after {
				top: 5px;
			}
			&::before {
				width: 8px;
				left: -12px;
			}
			&::after {
				width: 55px;
			}
		}
	}

	.projects-more {
		padding: 62px 0 0 0;
		&__title {
			font-size: 20px;
			line-height: 126.78%;
		}
		&__image {
			height: 161px;
			width: 121px;	
		}
	}
}